/*ATH: 
  Game height: 57,6em
  Flappy bird height: 5em
  Ground: 10em
Til að komast í gegnum gatið þarf það að vera 4x hæð hans
  Pipe gap = 20em
Svo pipe-in sjáist pottþétt verða þau að vera allavega 5em
  Pipe min = 5em
Annars eiga PipeTop og PipeBottom að taka hitt plássið (57,6em-20em-10em) sem er 27,6em
  Pipe sum = 27,6em
  Pipe max = 22,6em
  Pipe 50/50 = 13,8em
*/

/*
Annars eru 6 partar, 3 neðri helmingar og 3 efri
Þeir eiga svo að færast til hliðar
Í byrjun eiga þeir ekki að sjást
Til að byrja með eru þeir fyrst harðkóðaðir og eiga svo að breytast
*/

.G1{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G2{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G3{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G4{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G5{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G6{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G7{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G8{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G9{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G10{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}
.G11{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}

.G12{
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: brown;
  background-image: url("../images/ground.png");
  background-size: 100% 100%;
}


.PB1 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.PT1 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.PB2 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.PT2 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.PB3 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.PT3 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background: green;
}

.D1 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 5em;
  width: 5em;
  background-image: url("../images/niall.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.D2 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 5em;
  width: 5em;
  background-image: url("../images/zayne.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.D3 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 15em;
  width: 15em;
  background-image: url("../images/liam.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.D4 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 10em;
  width: 10em;
  background-image: url("../images/louis.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.D5 {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 15em;
  width: 15em;
  background-image: url("../images/harry.png");
  background-size: 100% 100%;
  opacity: 0.5;
}

.Player {
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 5em;
  height: 5em;
  background-image: url("../images/flappybird.png");
  background-size: 100% 100%;
  /*transform: translate(40em, 20em)*/
}

.Player-wings {
  position: absolute;
  left: 0.2em;
  top:1em;
  height: 2em;
  width: 2em;
  background-image: url("../images/wing.png");
  background-size: 100% 100%;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  /*-webkit-animation: 0.3s flap alternate infinite;
  animation: 0.3s flap alternate infinite;*/
}
@-webkit-keyframes flap {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);

  }

  to {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}

@keyframes flap {
  from {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  to {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}

.Scoreboard {
  position: absolute;
  left: 50%;
  top: 10em;
  height: 30em;
  width: 40em;
  margin-left: -20em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: purple;
  text-align: center;
  -webkit-transform: translate(0, -40em);
  -webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/

.Scoreboard.is-visible {
  -webkit-transform: none;
}

.Scoreboard-restart {
  margin-top: 10em;
  font-size: inherit;
  padding: 0.4em 1.5em;
  border: 0.2em solid white;
  background: none;
  cursor: pointer;
}

.Scoreboard-restartText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  color: white;
}

.FinalScore{
  /*margin-top: 10em;*/
  padding: 0.4em 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  color: white;
}

.FinalScoreText{
  /*margin-top: 10em;*/
  padding: 0.4em 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4em;
  color: white;
}
.Score{
  /*margin-top: 10em;*/
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4em;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body {
  background: black;
}

.browsehappy {
  margin: 0.2em 0;
  background: ?#?ccc?;
  color: #000;
  padding: 0.2em 0;
}

.GameCanvas {
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 102.4em;
  height: 57.6em;
  margin-left: -51.2em;
  margin-top: -28.8em;
  overflow: hidden;
  background: blue;
  background-image: url("../images/clouds.jpg");
  background-size: 100% 100%;
}

#mute {
  position: absolute;
	width: 70px;
    height: 70px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 65px;
    background-image: url("/images/mute.png");
    float: left;
    margin-top: 510px;
    margin-left: 956px;
}